






svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

li:nth-child(2), li:nth-child(2) .card {
	animation-delay: calc((40/8) * -1s);
}
li:nth-child(3), li:nth-child(3) .card {
	animation-delay: calc((40/8) * -2s);
}
li:nth-child(4), li:nth-child(4) .card {
	animation-delay: calc((40/8) * -3s);
}
li:nth-child(5), li:nth-child(5) .card {
	animation-delay: calc((40/8) * -4s);
}
li:nth-child(6), li:nth-child(6) .card {
	animation-delay: calc((40/8) * -5s);
}
li:nth-child(7), li:nth-child(7) .card {
	animation-delay: calc((40/8) * -6s);
}
li:nth-child(8), li:nth-child(8) .card {
	animation-delay: calc((40/8) * -7s);
}



