.blog-page-container {
    width: 100%;
    min-height: 80vh;
    color: var(--text);
    font-family: Vazirmatn;
    margin-top: 5%;
}

.blog-page-container img {
    width: 100%;
    margin-top: 2%;
}

.paragraph-container {
    width: 90%;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 3% 5%;
    transition: .3s ease;
    margin-inline: auto;
}

.paragraph-div {
    padding: 10px;
}

.paragraph-div h5 {
    font-weight: 700;
}

.paragraph-div p {
    font-weight: 400;
    margin-block: 10px;
}

@media (max-width: 768px) {
    .paragraph-container {
        width: 100%;
    }
}