/* Hero Box StyleSheet */

.hero-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;
    font-family: Vazirmatn;
    flex-wrap: wrap; 
    margin-top: 10%;
    user-select: none;
}
.hero-box-text {
    width: 50%;
    line-height: 35px;
    color: var(--text);
}

.hero-box-text h2 {
    font-size: 40px;
    font-weight: 900;
    width: 75%;
}

.hero-box-text p {
    width: 100%;
}

.levin-team {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

/* About Company Stylesheet */

.about-company {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    margin-top: 15.5%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow:2px -1px 10px var(--light) ; 
    padding: 10px;
    user-select: none;
}

.about-company section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-company {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: vazirmatn;
}

.heading-company h6 {
    color: var(--light);
}

.text-company {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: var(--text);
}

/* Desktop Card List Stylsheet */

.card-list {
    width: 70%;
    height: auto;
	max-width: 1024px;
	margin: auto;
    margin-top: 4.5rem;
	position: relative;
	aspect-ratio: 1 / 1;
    user-select: none;
}

.card-animation {
	-webkit-mask-image: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1));
}

/* .card-animation ul:hover *  {
	animation-play-state: paused;
} */
.card-animation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	z-index: 1;
}

.card-animation ul li {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	animation: rotateCW calc(40 * 1s) cubic-bezier(0.000, 0.37, 1.000, 0.63) infinite;
}

.card {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 24px;
	gap: 8px;
	box-shadow: inset 0px 4px 12px var(--light);
	border-radius: 12px;
	font-family: Vazirmatn;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
    cursor: pointer;
	animation: rotateCCW calc(40 * 1s) cubic-bezier(0.000, 0.37, 1.000, 0.63) infinite;
}

.card div {
    text-decoration: none;
	color: var(--text);
}

.model-name {
	font-weight: 900;
	font-size: 18px;
	line-height: 150%;
	color: var(--span-text);
	display: block;
}


.card-animation li:nth-child(1), li:nth-child(1) .card {
	animation-delay: calc((40/8) * 0s);
    background-color: var(--bg-btn-color);
}
.card-animation li:nth-child(2), li:nth-child(2) .card {
	animation-delay: calc((40/8) * -1s);
    background-color: var(--bg-btn-color);
}
.card-animation li:nth-child(3), li:nth-child(3) .card {
	animation-delay: calc((40/8) * -2s);
    background-color: var(--bg-btn-color);
}
.card-animation li:nth-child(4), li:nth-child(4) .card {
	animation-delay: calc((40/8) * -3s);
    background-color: var(--bg-btn-color);
}
.card-animation li:nth-child(5), li:nth-child(5) .card {
	animation-delay: calc((40/8) * -4s);
    background-color: var(--bg-btn-color);
}
.card-animation li:nth-child(6), li:nth-child(6) .card {
	animation-delay: calc((40/8) * -5s);
    background-color: var(--bg-btn-color);
}
.card-animation li:nth-child(7), li:nth-child(7) .card {
	animation-delay: calc((40/8) * -6s);
    background-color: var(--bg-btn-color);
}
.card-animation li:nth-child(8), li:nth-child(8) .card {
	animation-delay: calc((40/8) * -7s);
    background-color: var(--bg-btn-color);
}

@keyframes rotateCW {
	from {
		transform: translate3d(0px, -50%, -1px) rotate(-45deg);
	}
	to {
		transform: translate3d(0px, -50%, 0px) rotate(-315deg);
	}
}
@keyframes rotateCCW {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(315deg);
	}
}
@keyframes pulseGlow {
	from {
		background-size: 50%;
	}
	to {
		background-size: 100%;
	}
}

.center-circle {
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	width: 20%;
    height: auto;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fcd5ffc3;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}

.second-circle {
	position: absolute;
	width: 40%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #F5F4FE;
	opacity: 0.5;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}
.last-circle {
	position: absolute;
	width: 66%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #F5F4FE;
	opacity: 0.25;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	animation: pulseGlow 5s linear infinite alternate;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-image: radial-gradient(100% 50% at 100% 50%, rgba(60, 26, 229, 0.25) 0%, rgba(60, 26, 229, 0.247904) 11.79%, rgba(59, 26, 229, 0.241896) 21.38%, rgba(58, 26, 229, 0.2324) 29.12%, rgba(57, 26, 229, 0.219837) 35.34%, rgba(55, 26, 229, 0.20463) 40.37%, rgba(53, 26, 229, 0.1872) 44.56%, rgba(51, 26, 229, 0.16797) 48.24%, rgba(48, 26, 229, 0.147363) 51.76%, rgba(46, 26, 229, 0.1258) 55.44%, rgba(44, 26, 229, 0.103704) 59.63%, rgba(41, 26, 229, 0.0814963) 64.66%, rgba(39, 26, 229, 0.0596) 70.88%, rgba(36, 26, 229, 0.038437) 78.62%, rgba(34, 26, 229, 0.0184296) 88.21%, rgba(32, 26, 229, 0) 100%);
}
.mask:after {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	right: 0;
	background-image: linear-gradient(180deg, rgba(60, 26, 229, 0) 0%, #3C1AE5 50%, rgba(60, 26, 229, 0) 100%);
}

/* Mobile Card List Stylesheet */

.regular-card-animation {
    width: 100%;
    display: none;
    flex-wrap: wrap;
}

.regular-card-animation ul {
    width: 100%; 
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
} 

.regular-card-animation ul li {
    width: 48%; 
    margin: 1%;
    box-sizing: border-box;
}

.regular-card {
    background: var(--bg-btn-color);
    box-shadow: inset 0px 4px 12px var(--light);
    border-radius: 12px;
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text);
    padding: 16px 24px;
}

.regular-card div {
    text-decoration: none;
    color: unset;
    display: flex;
    flex-direction: column;
}


/* Smart Management Stylesheet */

.sm-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4.5rem;
    font-family: Vazirmatn;
    user-select: none;
}

.sm-textbox {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    color: var(--text);
}

.sm-textbox h2 , .sm-textbox h6 {
    width: 100%;
}

.sm-textbox h2 {
    font-weight: 900;
}

.sm-textbox h6 {
    margin-top: 1%;
    font-weight: 400;
}

.sm-textbox ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

.sm-textbox-list {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    padding: 5px;
    font-weight: 500;
}

.sm-textbox-list p {
    padding-right: 5px;
}

/* Call To Action */

.startDevelop {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Vazirmatn';
    color: var(--text);
    box-shadow: 0 0 25px var(--light);
    padding: 30px;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    user-select: none;
}

.startDevelop h2 {
    width: 35%;
    font-size: 32px;
    font-weight: 700;
}

/* Roadmap card */

.roadmap-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Vazirmatn';
    margin-top: 15%;
    /* border: 3px dotted var(--dark); */
    user-select: none;
    /* border-radius: 25px;
    box-shadow: 0 0 10px var(--light);
    backdrop-filter: blur(25px); */
}   

.roadmap-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text);
}

.roadmap-top section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.6rem;
}

.roadmap-top section h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--dark);
}

/* .roadmap-top section p {
    max-width: 40%;
    text-align: center;
    margin-top: 1rem;
} */

.roadmap-bottom {
    width: 70%;
    height: max-content;
}

.roadmap-bottom section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.roadmap-cart {
    width: calc(33% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px var(--light);
    margin: 10px;
    border-radius: 25px;
    backdrop-filter: blur(25px);
}

.roadmap-cart h3 {
    font-size: 40px;
    font-weight: bold;
    color: var(--dark);
}

.roadmap-cart h4 {
    font-size: 24px;
    color: var(--light);
    margin-top: -5%;
}

.roadmap-cart p {
    width: 90%;
    font-size: 14px;
    text-align: center;
    color: var(--text);
    margin-top: 1%;
}










/* Respawnsive Code */

@media (max-width: 1024px) {
    /* Herobox */
    .hero-box {
        flex-direction: column; 
    }

    .hero-box-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .hero-box-text h2,
    .hero-box-text p,
    .hero-box-text div {
        width: 90%; 
        text-align: center;
}

    /* About Company */
    .icon-list img {
        width: 55%;
    }

    /* Card List */
    .card-animation,
    .last-circle , 
    .second-circle ,
    .mask ,
    .center-circle {
	display: none;
    }
    .regular-card-animation {
        display: flex;
    }
    
    /* Smart Management */
    .sm-container {
        flex-direction: column-reverse;
    }
    .sm-textbox {
        width: 100%;
    }
    .sm-Baner {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .sm-Baner img {
        width: 100%;
    }

    /* Roadmap Card */
    .roadmap-cart {
        width: calc(48% - 40px);
    }


}
@media (max-width: 768px) {
    /* Herobox */
    .hero-box-text h2,
    .hero-box-text p,
    .hero-box-text div {
        width: 80%; 
        margin: 15px;
    }
    .levin-team {
        justify-content: center;
        margin-top: 0;
    }

    /* About Company */
    .text-company {
        width: 75%;
    }

    /* Card List */
    .regular-card-animation ul li {
        width: 100%;
    }

    /* Smart Management */
    .sm-textbox {
        margin-top: 0;
    }
    /* Roadmap Card */
    .roadmap-cart {
        width: 100%;
    }
    /* Start Develop */
    .startDevelop {
        justify-content: center;
        text-align: center;
    }
    .startDevelop h2 {
        width: 100%;
        margin-bottom: 7%;
    }
}