.hero-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;
    font-family: Iran-Yekan;
    font-weight: bold;
}
.hero-box img {
    width: 50%;
    height: auto;
}

.hero-box-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-box-text h1 {
    width: 70%;
}

.hero-box-text p {
    width: 70%;
}

.hero-box-text div {
    width: 70%;
}