.UX-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3rem;
    left: 2rem;
    z-index: 1000;
}

@media (max-width:768px) {
    .UX-container {
        left: 0;
        bottom: 1rem;
    }
}