/* Default styles (for larger screens) */
.footer-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
}

.header-container__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-links__footer {
    width: 100%;
}

.header-links__footer ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1rem;
}

.link-footer {
    margin-inline: 1rem;
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    font-family: Vazirmatn;
    transition: opacity .3s ease;
}

.link-footer:hover {
    opacity: .5;
}

.footer-container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: solid .5px var(--text);
    padding: 1rem;
}

.footer-container__footer p {
    font-family: Vazirmatn;
    font-weight: 300;
    color: var(--text);
    transition: color .3s ease;
}

.icons-footer {
    display: flex;
    justify-content: center;
}

.icons-footer ul {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

.icons-footer ul li {
    margin-inline: .5rem;
}

/* Media queries for responsiveness */

/* Tablets and small screens */
@media (max-width: 768px) {
    .header-links__footer ul {
        flex-direction: column;
        align-items: center;
    }

    .link-footer {
        margin-inline: 0;
        margin-bottom: 1rem;
        text-wrap: nowrap;
    }
    
    .footer-container__footer {
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .icons-footer ul li {
        margin-inline: 0;
        margin-bottom: .5rem;
    }
}

/* Mobile devices */
@media (max-width: 480px) {
    .header-container__footer {
        padding: 0 1rem;
    }

    .footer-container {
        margin-top: 4rem;
    }

    .link-footer {
        font-size: .875rem;
    }

    .footer-container__footer p {
        font-size: .75rem;
    }

    .icons-footer ul li {
        margin-bottom: .25rem;
    }
}
