/* Lite Theme */

/* :root {
    --primary-blue: #007bff;
    --light-blue: #5aa9ff;
    --dark-blue: #004085;
    --white: #fff;
    --light-gray: #343a40;
    --lighter-gray: #f8f9fa;
} */

/* Rename */
/* :root {
    --primary: rgb(0, 123, 255);
    --light: rgb(90, 169, 255);
    --dark: rgb(0, 64, 133);
    --bg-btn-color: #fff;
    --text: #000;
    --gray: #343a40;
    --light-gray: #f8f9fa;
    --dark-gray: #2c2c54;
    --ninja: #e4ffe8;
    --span-text: #5C007A;
} */

/* Dark Theme */

/* :root {
    --primary-green: rgb(14, 240, 173);
    --dark-green: rgb(11, 163, 125);
    --main-dark: rgb(31, 32, 65);
    --dark-gray: #b8b8d1;
    --darker-gray: #2c2c54;
    --black: rgb(220, 223, 229);
} */

/* Fonts */

@font-face {
    font-family: Iran-Yekan;
    src: url(../public/Fonts/Iran-Yekan/BYekan+.ttf) , url(../public/Fonts/Iran-Yekan/BYekan+\ Bold.ttf) ;
}

/* @font-face {
    font-family: Vazirmatn;
    src: url(../public//Fonts/Vazirmatn/Vazirmatn-Black.ttf) ,
    url(../public//Fonts/Vazirmatn/Vazirmatn-Bold.ttf) ,
    url(../public//Fonts/Vazirmatn/Vazirmatn-ExtraBold.ttf) ,
    url(../public//Fonts/Vazirmatn/Vazirmatn-ExtraLight.ttf) ,
    url(../public//Fonts/Vazirmatn/Vazirmatn-Light.ttf) ,
    url(../public//Fonts/Vazirmatn/Vazirmatn-Medium.ttf) ,
    url(../public//Fonts/Vazirmatn/Vazirmatn-Regular.ttf) ,
    url(../public//Fonts/Vazirmatn/Vazirmatn-SemiBold.ttf) ,
    url(../public//Fonts/Vazirmatn/Vazirmatn-Thin.ttf) ,
    ;
} */

@font-face {
    font-family: Monoton;
    src: url(../public/Fonts/Monoton/Monoton-Regular.ttf);
}

/* Main Style */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    user-select: none;
}

::-webkit-scrollbar-track {
    background-color: #eae7ee;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: #eae7ee;
}
::-webkit-scrollbar-thumb {
    background-color: #a1a6fc;
}